@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/bg-main-mobile.png);
}
.top-right{
    display: none;
}


.first-three{
    padding: 40px 24px 0px 24px;
}
.h1{
    color: rgba(25, 24, 38, 1);
    font-family: 'IBM Plex Sans', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.4545454680919647px;
text-align: left;
margin-top: 64px;

}
.p1{
    height: 156px;
    width: 327px;

margin-top:20px;
margin-bottom: 166px;

    color: rgba(25, 24, 38, 1);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  
}
.mobile-pic{
    position: absolute;
    height: 430px;
    width: 208px;
    left: 80px;
    top: 524px;

}
/* .pic-and-background{
    padding-top: 166px;
} */
.pic-background{
    display: flex;
    justify-content: center;   
    background: rgba(25, 24, 38, 1);
    height: 600px;
    
    left: 0px;
    top: 622px;
    border-radius: 12px;
}
.background-pic{
    
    height: 420px;
width: 280px;
}

.orange-box{
    position: absolute;
    background-color: #FA7453;
left: 0px;
top: 1002px;
border-radius: 12px;
padding: 48px 37px 48px 37px;
}
.h2{
    color: #FCFAF9;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;
}
.p2{
    color:#FCFAF9;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 36px;
}
.dollar-month{
    display: flex;
    margin-bottom: 32px;
}
.dollar{
    color:#FCFAF9; 
    font-family: 'IBM Plex Sans';
    font-size: 65px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: left;
}
.month{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FCFAF9; 
    font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.20000000298023224px;
text-align: left;
}
.ios-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191826;
    height: 61px;
    width: 296px;
    border-radius: 12px;
    margin-bottom: 16px;
}
.ios-download{
    color:#FCFAF9;
    margin-left: 8px;
    font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.18000000715255737px;
text-align: center;

}
.android-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCFAF9;
    height: 61px;
    width: 296px;
    border-radius: 12px;
}
.android-download{
    color:#191826;
    margin-left: 8px;
    font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.18000000715255737px;
text-align: center;
}
.footer{
    margin-top: 386px;
    padding: 0px 24px 80px 24px;
}
.footer-text{
    font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700,400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
margin-top: 32px;
margin-bottom: 64px;

}
.icons{
   font-size: 20px;
   letter-spacing: 10px;
}

@media only screen and (min-width: 768px){

   body{
    background-image: url(/assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -35px right -34px;
   }
    .full-box{
        padding: 62px 38px 85px 38px;
    }
     .first-three{
        padding: 0px ;
    } 
    .h1{
        font-family: IBM Plex Sans;
font-size: 64px;
font-weight: 700;
line-height: 64px;
letter-spacing: -0.7272727489471436px;
text-align: left;
height: 192px;
margin-top: 95px;
width: 520px;
left: 39px;
top: 189px;
border-radius: nullpx;

    }
    .p1{

        height: 112px;
        width: 514px;
        font-size: 18px;
        margin-top: 28px;
    }
    .pic-background{
        width: 100%;
    }
    .orange-box{
        width: 400px;
        transform: translate(264px, -120px);
        padding: 48px;
    }
    .mobile-pic{
    height: 556px;
    width: 270.2055969238281px;
    transform: translate(9px, 69px);
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.footer-text{
    height: 79px;
width: 366px;
left: 0px;
top: 64px;
}
}

@media only screen and (min-width: 1024px ){

    body{
        background-position: top right;
        min-width: 100vh;
    }
    .full-box{
        padding: 62px 165px 91px 165px;
    }
    .h1{
        height: 176px;
        width: 1015px;

    }
    .p1{
        height: 102px;
        width: 825px;
        margin-bottom: 320px;
    }
    .p2{
        height: 170px;
width: 333px;
left: 788px;
top: 1082px;
border-radius: nullpx;

    }
    .mobile-pic{
        height: 642px;
        width: 312px;
        position: absolute;
        top: 600px;
    transform: translate(-50%, 0);
    left: 34.5%;

    }
    .orange-box{
        height: 625px;
width: 446px;
    position: absolute;
    top: 929px;
    transform: translate(-50%, 0);
    left: 70%;
    
border-radius: 12px;
padding:58px 59px 48px 54px;
    }
    h2{
        margin-bottom: 22px;

    }
    .dollar{
        margin-bottom: 46px;
    }
    .footer{
        margin-top: 202px;

    }
    .equalizer2{
        height: 32px;
width: 146.0926971435547px;
left: 1.15185546875px;
top: -0.008056640625px;
border-radius: 0px;
margin-right: 137px;
    }
    .footer-text{
        margin-top: 0px;
    }
    .equalizer-text{
        display: flex;
        justify-content: space-between;
    }

}
    




